.contact {
   &__content {
      display: flex;
      gap: 81px;
      margin-bottom: 80px;

      @include r(992) {
         gap: 40px;
      }

      @include r(767) {
         flex-direction: column;
      }

      hr {
         height: 395px;
         border: 1px solid rgba(30, 30, 35, 0.10);

         @include r(767) {
            display: none;
         }
      }
   }

   &__form {
      width: 100%;

      h4 {
         font-size: 22px;
         margin-bottom: 15px;
      }

      form {
         display: flex;
         flex-direction: column;
         gap: 25px;
         max-width: 100%;
      }

      &_row {
         display: flex;
         gap: 25px;
         flex: 1;

         @include r(1200) {
            align-items: start;
            flex-direction: column;
         }

         @include r(767) {
            flex-direction: row;
         }

         @include r(576) {
            flex-direction: column;
         }
         p{
            flex: 1;

            @include r(1200) {
               width: 100%;
            }
         }

         
      }

      &_input{
         color: #000;
         padding: 15px 20px;
         border-radius: 15px 0px;
         font-size: 15px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
         margin-top: 12px;
         margin-bottom: 0;

         &::placeholder {
            font-size: 15px;
         }
      }

   }

   // .wpcf7-form-control-wrap {
   //    margin-bottom: 0 !important;
   //    flex: 1;

   //    @include r(767) {
   //       flex-direction: column;
   //       width: 100%;
   //    }

   &__data {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
   }

   &__call {
      h4 {
         font-size: 22px;
         margin-bottom: 12px;
      }
   }

   &__number {
      display: flex;
      align-items: center;

      div {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-right: 12px;
         width: 36px;
         height: 36px;
         border-radius: 50%;
         background-color: rgba(70, 130, 240, 0.25);
         flex-shrink: 0;
      }

      a {
         color: $blue;
         text-align: center;
         padding: 0 10px;
      }

      p {
         color: rgba(30, 30, 35, 0.20);
      }
   }

   &__btn {
      border-radius: 25px 0px !important;
   }
}

.maps {
   margin-bottom: 80px;

   &__container {
      overflow: hidden;
   }

   iframe {
      width: 100%;
      height: 500px;
   }
}