.breadcrumbs {
   margin-bottom: 30px;
   margin-top: 10px;

   ul {
      display: flex;

      li {
         line-height: normal;
         color: rgba(30, 30, 35, 0.50);
         cursor: pointer;

         &:last-child {
            color: $dark;
         }

         &+li::before {
            content: '';
            background-image: url('../icons/chevron-right 1.svg');
            display: inline-block;
            background-repeat: no-repeat;
            height: 12px;
            width: 15px;
         }

         @include r(767) {
            font-size: 12px;
         }
      }
   }
}